Repository D3strukt0r/fhnw-stocks-tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, docker, client, api, source, test

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*

# Add 'docker' label to any change to files within the docker dir and docker relevant files
docker:
  - "**/docker/**/*"
  - "**/.dockerignore"
  - docker-compose.build.yml
  - docker-compose.yml
  - "**/Dockerfile"

# Add 'client' label to any change to files within the client dir
client:
  - client/**/*

# Add 'api' label to any change to files within the api dir
api:
  - api/**/*

# Add 'source' label to any change to files within the source dir
source:
  - client/src/**/*
  - "!client/src/**/*.test.js"
  # - api/src/**/*

# Add 'test' label to any change to files within the test dir
test:
  - client/src/**/*.test.js

Add Java Spring Boot as api
  .github/workflows/ci-cd.yml
  .github/workflows/dockerhub-description.yml
  .idea/.gitignore
  .idea/checkstyle-idea.xml
  .idea/compiler.xml
  .idea/encodings.xml
  .idea/fhnw-stocks-tracker.iml
  .idea/jarRepositories.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/runConfigurations/client_Dockerfile.xml
  .idea/vcs.xml
  api/.gitignore
  api/build.gradle
  api/gradle/wrapper/gradle-wrapper.jar
  api/gradle/wrapper/gradle-wrapper.properties
  api/gradlew
  api/gradlew.bat
  api/settings.gradle
  api/src/main/java/fhnw/dreamteam/stockstracker/StocksTrackerApplication.java
  api/src/main/resources/application.properties
  api/src/main/resources/static/.gitignore
  api/src/main/resources/templates/.gitignore
  api/src/test/java/fhnw/dreamteam/stockstracker/StocksTrackerApplicationTests.java
Labels: api, source

Fix permission
  api/gradlew
Labels: api, source

Setup Java 15 in CI
  .github/workflows/ci-cd.yml
Labels: source

Fix CI commands
  .github/workflows/ci-cd.yml
Labels: source

Add GraphQL to client
  client/package.json
  client/yarn.lock
Labels: client, source

Add React Admin to client
  client/package.json
  client/yarn.lock
Labels: client, source

Add bin folder (Created by VS Code)
  api/.gitignore
Labels: api, source

gradlew file has to be "lf"(Linux)
  .gitattributes
Labels: repo, source

Add typescript language server to client
  client/.vscode/extensions.json
  client/.vscode/settings.json
  client/.yarn/sdks/integrations.yml
  client/.yarn/sdks/typescript/bin/tsc
  client/.yarn/sdks/typescript/bin/tsserver
  client/.yarn/sdks/typescript/lib/tsc.js
  client/.yarn/sdks/typescript/lib/tsserver.js
  client/.yarn/sdks/typescript/lib/typescript.js
  client/.yarn/sdks/typescript/package.json
Labels: client, source

Add IDE files
  api/.gitignore
  api/.idea/.name
  api/.idea/checkstyle-idea.xml
  api/.idea/compiler.xml
  api/.idea/gradle.xml
  api/.idea/jarRepositories.xml
  api/.idea/misc.xml
  api/.idea/vcs.xml
  api/.idea/workspace.xml
Labels: api, source

add code for a request
  api/.idea/encodings.xml
  api/src/main/java/fhnw/dreamteam/stockstracker/controller/StockController.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/models/Currency.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/models/Stock.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/repository/StockRepository.java
  api/src/main/java/fhnw/dreamteam/stockstracker/service/StockService.java
Labels: api, source

get api request working
  api/.idea/compiler.xml
  api/.idea/gradle.xml
  api/.idea/misc.xml
  api/.idea/workspace.xml
  api/build.gradle
  api/src/main/java/fhnw/dreamteam/stockstracker/config/SecurityConfig.java
  api/src/main/java/fhnw/dreamteam/stockstracker/config/WebSecurityConfig.java
  api/src/main/java/fhnw/dreamteam/stockstracker/controller/StockController.java
  api/src/main/java/fhnw/dreamteam/stockstracker/service/StockService.java
  api/src/main/java/fhnw/dreamteam/stockstracker/service/UserDetailsServiceImpl.java
  api/src/main/java/security/config/EnableTokenSecurity.java
  api/src/main/java/security/config/TokenSecurityConfiguration.java
  api/src/main/java/security/config/TokenSecurityProperties.java
  api/src/main/java/security/model/Token.java
  api/src/main/java/security/model/TokenUser.java
  api/src/main/java/security/service/TokenService.java
  api/src/main/java/security/web/CSRFRequestMatcher.java
  api/src/main/java/security/web/TokenAuthenticationFilter.java
  api/src/main/java/security/web/TokenLoginFilter.java
  api/src/main/java/security/web/TokenLogoutHandler.java
  api/src/main/resources/application.properties
Labels: api, source

Ignore eclipse relevant files
  .gitignore
Labels: repo, source

Add and fix checkstyle
  api/.vscode/settings.json
  api/checkstyle.xml
  api/src/main/java/fhnw/dreamteam/stockstracker/StocksTrackerApplication.java
  api/src/main/java/fhnw/dreamteam/stockstracker/config/SecurityConfig.java
  api/src/main/java/fhnw/dreamteam/stockstracker/config/WebSecurityConfig.java
  api/src/main/java/fhnw/dreamteam/stockstracker/controller/StockController.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/models/Currency.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/models/Stock.java
  api/src/main/java/fhnw/dreamteam/stockstracker/service/StockService.java
  api/src/main/java/fhnw/dreamteam/stockstracker/service/UserDetailsServiceImpl.java
  api/src/main/java/security/config/EnableTokenSecurity.java
  api/src/main/java/security/config/TokenSecurityConfiguration.java
  api/src/main/java/security/model/Token.java
  api/src/main/java/security/model/TokenUser.java
  api/src/main/java/security/service/TokenService.java
  api/src/main/java/security/web/CSRFRequestMatcher.java
  api/src/main/java/security/web/TokenAuthenticationFilter.java
  api/src/main/java/security/web/TokenLoginFilter.java
  api/src/main/java/security/web/TokenLogoutHandler.java
  api/src/test/java/fhnw/dreamteam/stockstracker/StocksTrackerApplicationTests.java
Labels: api, source

Add missing typescript types
  client/package.json
  client/yarn.lock
Labels: client, source

Add missing package infos
  api/src/main/java/fhnw/dreamteam/stockstracker/config/package-info.java
  api/src/main/java/fhnw/dreamteam/stockstracker/controller/package-info.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/models/package-info.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/repository/package-info.java
  api/src/main/java/fhnw/dreamteam/stockstracker/package-info.java
  api/src/main/java/fhnw/dreamteam/stockstracker/service/package-info.java
  api/src/main/java/security/config/package-info.java
  api/src/main/java/security/model/package-info.java
  api/src/main/java/security/service/package-info.java
  api/src/main/java/security/web/package-info.java
Labels: api, source

Fix documentation and code style
  api/src/main/java/fhnw/dreamteam/stockstracker/StocksTrackerApplication.java
  api/src/main/java/fhnw/dreamteam/stockstracker/config/SecurityConfig.java
  api/src/main/java/fhnw/dreamteam/stockstracker/config/WebSecurityConfig.java
  api/src/main/java/fhnw/dreamteam/stockstracker/controller/StockController.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/models/Currency.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/models/Stock.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/repository/StockRepository.java
  api/src/main/java/fhnw/dreamteam/stockstracker/service/StockService.java
  api/src/main/java/fhnw/dreamteam/stockstracker/service/UserDetailsServiceImpl.java
  api/src/main/java/security/config/TokenSecurityConfiguration.java
  api/src/main/java/security/config/TokenSecurityProperties.java
  api/src/main/java/security/model/Token.java
  api/src/main/java/security/model/TokenUser.java
  api/src/main/java/security/service/TokenService.java
  api/src/main/java/security/web/CSRFRequestMatcher.java
  api/src/main/java/security/web/TokenAuthenticationFilter.java
  api/src/main/java/security/web/TokenLoginFilter.java
  api/src/main/java/security/web/TokenLogoutHandler.java
Labels: api, source

Fix CI
  .github/workflows/ci-cd.yml
Labels: source

Fix docker not executable
  client/docker/docker-entrypoint.sh
Labels: docker, client, source

add user entity to create
  api/.idea/workspace.xml
  api/src/main/java/fhnw/dreamteam/stockstracker/data/models/Stock.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/models/User.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/repository/UserRepository.java
  api/src/main/java/fhnw/dreamteam/stockstracker/service/UserService.java
Labels: api, source

ensure save to db is working and add seed data
  api/.idea/gradle.xml
  api/.idea/workspace.xml
  api/gradle/wrapper/gradle-wrapper.properties
  api/src/main/java/fhnw/dreamteam/stockstracker/StocksTrackerApplication.java
  api/src/main/java/fhnw/dreamteam/stockstracker/controller/UserController.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/models/Stock.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/models/User.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/repository/UserRepository.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/seeddata/Seeder.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/seeddata/UserSeed.java
  api/src/main/java/fhnw/dreamteam/stockstracker/service/UserDetailsServiceImpl.java
  api/src/main/java/fhnw/dreamteam/stockstracker/service/UserService.java
  api/src/main/java/security/model/TokenUser.java
  api/src/main/java/security/web/TokenLoginFilter.java
Labels: api, source

update cors policy to get request working
  api/.idea/workspace.xml
  api/src/main/java/fhnw/dreamteam/stockstracker/StocksTrackerApplication.java
  api/src/main/java/fhnw/dreamteam/stockstracker/config/WebSecurityConfig.java
  api/src/main/java/fhnw/dreamteam/stockstracker/controller/StockController.java
  api/src/main/java/fhnw/dreamteam/stockstracker/controller/UserController.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/dtos/UserList.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/models/User.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/seeddata/Seeder.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/seeddata/UserSeed.java
  api/src/main/java/fhnw/dreamteam/stockstracker/service/UserService.java
  client/.idea/.gitignore
  client/.idea/client.iml
  client/.idea/codeStyles/codeStyleConfig.xml
  client/.idea/jsLibraryMappings.xml
  client/.idea/misc.xml
  client/.idea/modules.xml
  client/.idea/vcs.xml
  client/package.json
  client/src/Layout.tsx
  client/src/constants/index.js
  client/src/dataProvider.ts
  client/src/index.tsx
  client/src/serviceWorker.ts
  client/src/user/UserCreate.tsx
  client/src/user/UserEdit.tsx
  client/src/user/UserEditEmbedded.tsx
  client/src/user/UserList.tsx
  client/src/user/UserShow.tsx
  client/src/user/UserTitle.tsx
  client/src/user/index.ts
  client/src/users/Aside.tsx
  client/yarn.lock
Labels: client, api, source

start on adding http request
  .idea/fhnw-stocks-tracker.iml
  .idea/misc.xml
  api/.idea/workspace.xml
  api/src/main/java/fhnw/dreamteam/stockstracker/StocksTrackerApplication.java
  client/public/404.html
  client/public/forgot-password.html
  client/public/js/app.js
  client/public/login.html
  client/public/register.html
Labels: client, api, source

add xsrf protection
  api/.idea/workspace.xml
  api/src/main/java/fhnw/dreamteam/stockstracker/StocksTrackerApplication.java
  api/src/main/java/fhnw/dreamteam/stockstracker/config/WebSecurityConfig.java
  client/public/js/app.js
  client/public/register.html
Labels: client, api, source

change sensitive data to be mobile
  api/.idea/workspace.xml
  api/src/main/java/fhnw/dreamteam/stockstracker/controller/UserController.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/models/User.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/seeddata/UserSeed.java
  api/src/main/java/fhnw/dreamteam/stockstracker/service/UserService.java
  client/public/js/app.js
  client/public/register.html
Labels: client, api, source

remove security hole
  api/.idea/workspace.xml
  api/src/main/java/fhnw/dreamteam/stockstracker/config/WebSecurityConfig.java
Labels: api, source

allow options for user call
  api/src/main/java/fhnw/dreamteam/stockstracker/config/WebSecurityConfig.java
Labels: api, source

encrypt mobile instead of one way hashing
  api/.idea/workspace.xml
  api/src/main/java/fhnw/dreamteam/stockstracker/data/models/AttributeEncryptor.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/models/User.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/repository/StockRepository.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/repository/UserRepository.java
  api/src/main/java/fhnw/dreamteam/stockstracker/service/StockService.java
  api/src/main/java/fhnw/dreamteam/stockstracker/service/UserService.java
  api/src/main/resources/application.properties
Labels: api, source

Add my ip address for local development
  api/src/main/java/fhnw/dreamteam/stockstracker/StocksTrackerApplication.java
Labels: api, source

Remember me functionality & trying to get login request working
  api/src/main/java/fhnw/dreamteam/stockstracker/StocksTrackerApplication.java
  api/src/main/java/fhnw/dreamteam/stockstracker/controller/UserController.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/models/User.java
  api/src/main/java/security/config/TokenSecurityConfiguration.java
  client/public/js/app.js
  client/public/login.html
Labels: client, api, source

fix cors exception spring security
  api/.idea/workspace.xml
  api/src/main/java/fhnw/dreamteam/stockstracker/config/WebSecurityConfig.java
  api/src/main/java/fhnw/dreamteam/stockstracker/service/UserDetailsServiceImpl.java
  api/src/main/java/security/model/TokenUser.java
  api/src/main/resources/application.properties
Labels: api, source

Fix bug
  api/.idea/workspace.xml
  client/public/js/app.js
Labels: client, api, source

Show sucess/error message and move to next page in case of successful login
  api/.idea/workspace.xml
  client/public/js/app.js
  client/public/login.html
Labels: client, api, source

validateLogin function and logout
  api/.idea/workspace.xml
  client/public/index.html
  client/public/js/app.js
  client/public/stocks.html
Labels: client, api, source

stock api and some changes
  api/.idea/workspace.xml
  api/src/main/java/fhnw/dreamteam/stockstracker/controller/UserController.java
  client/public/index.html
  client/public/js/app.js
  client/public/login.html
Labels: client, api, source

Fix set-cookie bug 🤩🥳
  api/.idea/workspace.xml
  api/src/main/java/fhnw/dreamteam/stockstracker/StocksTrackerApplication.java
  client/public/index.html
  client/public/js/app.js
Labels: client, api, source

Logout and example of checking if logged in implemented
  api/.idea/workspace.xml
  client/public/currencies.html
  client/public/index.html
  client/public/js/app.js
Labels: client, api, source

Return logged in user request
  api/.idea/workspace.xml
  api/src/main/java/fhnw/dreamteam/stockstracker/controller/UserController.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/models/User.java
  api/src/main/java/fhnw/dreamteam/stockstracker/service/UserService.java
  client/public/index.html
  client/public/js/app.js
  client/public/login.html
Labels: client, api, source

set username into navbar
  api/.idea/workspace.xml
  client/public/index.html
Labels: client, api, source

Set username label in navbar after fetch
  client/public/index.html
Labels: client, source
