Repository D3strukt0r/fhnw-stocks-tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, docker, client, api, source, test

Add backend delete functionality and basic view
  api/src/main/java/fhnw/dreamteam/stockstracker/controller/StockController.java
  client/public/stocks.html
Labels: client, api, source

Update delete modal frontend
  api/.idea/workspace.xml
  client/public/stocks.html
Labels: client, api, source

Fix edit profile
  api/.idea/workspace.xml
  api/src/main/java/fhnw/dreamteam/stockstracker/controller/UserController.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/seeddata/UserSeed.java
  api/src/main/java/fhnw/dreamteam/stockstracker/service/UserService.java
  client/public/edit_profile.html
Labels: client, api, source

Add edit-profile dropdown item on all pages
  client/public/stocks-add.html
  client/public/stocks-edit.html
  client/public/stocks-view.html
Labels: client, source

Add alerts for delete stock
  client/public/edit_profile.html
  client/public/stocks.html
Labels: client, source

Add minor change in edit profile submit function
  client/public/edit_profile.html
Labels: client, source

Currency model
  api/.idea/workspace.xml
  api/src/main/java/fhnw/dreamteam/stockstracker/data/models/Currency.java
  client/public/currencies.html
Labels: client, api, source

Implementation Currency model backend + creation of currency
  api/.idea/workspace.xml
  api/src/main/java/fhnw/dreamteam/stockstracker/controller/CurrencyController.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/models/Currency.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/repository/CurrencyRepository.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/seeddata/CurrencySeeder.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/seeddata/StocksSeeder.java
  api/src/main/java/fhnw/dreamteam/stockstracker/service/CurrencyService.java
  api/src/main/java/fhnw/dreamteam/stockstracker/service/UserService.java
  client/public/currencies-add.html
  client/public/currencies-edit.html
  client/public/js/app.js
Labels: client, api, source

fix workspace file
  api/.idea/workspace.xml
Labels: api, source

Edit currency
  api/.idea/workspace.xml
  api/src/main/java/fhnw/dreamteam/stockstracker/controller/CurrencyController.java
  client/public/currencies-edit.html
  client/public/currencies.html
Labels: client, api, source

Delete currencies and archive stocks implemented
  api/src/main/java/fhnw/dreamteam/stockstracker/controller/CurrencyController.java
  api/src/main/java/fhnw/dreamteam/stockstracker/controller/StockController.java
  api/src/main/java/fhnw/dreamteam/stockstracker/service/StockService.java
  client/public/currencies.html
  client/public/stocks.html
Labels: client, api, source

Redirect index.html to stock.html page
  client/public/index.html
Labels: client, source

Create USD and CHF currency for new user at registration
  api/src/main/java/fhnw/dreamteam/stockstracker/controller/UserController.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/seeddata/UserSeed.java
  api/src/main/java/fhnw/dreamteam/stockstracker/service/UserService.java
  client/public/stocks.html
Labels: client, api, source

Fix error dialog and seed data bug
  api/src/main/java/fhnw/dreamteam/stockstracker/data/seeddata/CurrencySeeder.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/seeddata/Seeder.java
  client/public/currencies.html
Labels: client, api, source

Add information to README
  README.md
Labels: repo, source

Fix edit profile frontend style
  client/public/edit_profile.html
Labels: client, source

Change username field to read only in edit profile
  client/public/edit_profile.html
Labels: client, source

Add small frontend change to edit profile
  client/public/edit_profile.html
Labels: client, source

Add window reload function
  client/public/js/app.js
Labels: client, source

Add edit profile dropdown item for currencies pages
  client/public/currencies-add.html
  client/public/currencies-edit.html
Labels: client, source

check that other users can't edit wrong info
  api/.idea/workspace.xml
  api/src/main/java/fhnw/dreamteam/stockstracker/controller/StockController.java
  api/src/main/java/fhnw/dreamteam/stockstracker/controller/UserController.java
  api/src/main/java/fhnw/dreamteam/stockstracker/service/CurrencyService.java
  api/src/main/java/fhnw/dreamteam/stockstracker/service/StockService.java
  api/src/main/java/fhnw/dreamteam/stockstracker/service/UserService.java
Labels: api, source

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*

# Add 'docker' label to any change to files within the docker dir and docker relevant files
docker:
  - "**/docker/**/*"
  - "**/.dockerignore"
  - docker-compose.build.yml
  - docker-compose.yml
  - "**/Dockerfile"

# Add 'client' label to any change to files within the client dir
client:
  - client/**/*

# Add 'api' label to any change to files within the api dir
api:
  - api/**/*

# Add 'source' label to any change to files within the source dir
source:
  - client/src/**/*
  - "!client/src/**/*.test.js"
  # - api/src/**/*

# Add 'test' label to any change to files within the test dir
test:
  - client/src/**/*.test.js
