Repository D3strukt0r/fhnw-stocks-tracker, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, docker, client, api, source, test

change request type
  api/.idea/workspace.xml
  client/public/index.html
  client/public/js/app.js
Labels: client, api, source

if user is not authenticated then take them back to login
  client/public/js/app.js
Labels: client, source

validateLogin at each page and remove clutter
  api/.idea/workspace.xml
  client/public/currencies.html
  client/public/index.html
  client/public/js/app.js
  client/public/stocks.html
Labels: client, api, source

Remove password from JSON
  api/.idea/workspace.xml
  api/src/main/java/fhnw/dreamteam/stockstracker/data/models/User.java
Labels: api, source

Remove password from JSON read access
  api/.idea/workspace.xml
  api/src/main/java/fhnw/dreamteam/stockstracker/controller/UserController.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/models/User.java
  client/public/js/app.js
Labels: client, api, source

Fix bug that prevented error message to be shown on login page when entering bad credentials
  api/.idea/workspace.xml
  client/public/js/app.js
Labels: client, api, source

Logout on all pages and bug that prevented checking if user logged in
  client/public/currencies.html
  client/public/index.html
  client/public/js/app.js
  client/public/stocks.html
Labels: client, source

Move logout button function to app.js to avoid code duplication on each html page
  client/public/currencies.html
  client/public/index.html
  client/public/js/app.js
  client/public/stocks.html
Labels: client, source

Fix Docker & CI
  .github/workflows/ci-cd.yml
  docker-compose.yml
Labels: repo, docker, source

Add Hello World request for test
  api/.idea/compiler.xml
  api/.idea/misc.xml
  api/.idea/modules/stocks-tracker.main.iml
  api/.idea/workspace.xml
  api/src/main/java/fhnw/dreamteam/stockstracker/controller/MainController.java
Labels: api, source

Created the stock model in the backend
  api/.idea/workspace.xml
  api/src/main/java/fhnw/dreamteam/stockstracker/data/models/Stock.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/repository/StockRepository.java
Labels: api, source

Create Stocks functionality in backend
  api/.idea/workspace.xml
  api/src/main/java/fhnw/dreamteam/stockstracker/controller/StockController.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/models/Currency.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/models/Stock.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/repository/CurrencyRepository.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/repository/StockRepository.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/seeddata/CurrencySeeder.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/seeddata/Seeder.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/seeddata/StocksSeeder.java
  api/src/main/java/fhnw/dreamteam/stockstracker/service/CurrencyService.java
  api/src/main/java/fhnw/dreamteam/stockstracker/service/StockService.java
Labels: api, source

Show stocks table based on current user
  api/.idea/workspace.xml
  client/public/stocks.html
Labels: client, api, source

Add "edit profile" frontend
  api/.idea/workspace.xml
  client/public/currencies.html
  client/public/edit_profile.html
  client/public/index.html
  client/public/stocks.html
Labels: client, api, source

Partial implementation of edit profile
  api/.idea/workspace.xml
  api/src/main/java/fhnw/dreamteam/stockstracker/StocksTrackerApplication.java
  api/src/main/java/fhnw/dreamteam/stockstracker/controller/UserController.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/repository/UserRepository.java
  api/src/main/java/fhnw/dreamteam/stockstracker/service/UserService.java
  client/public/edit_profile.html
  client/public/js/app.js
Labels: client, api, source

Partial implementation of edit profile backend
  api/.idea/workspace.xml
  api/src/main/java/fhnw/dreamteam/stockstracker/StocksTrackerApplication.java
  api/src/main/java/fhnw/dreamteam/stockstracker/controller/UserController.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/repository/UserRepository.java
  api/src/main/java/fhnw/dreamteam/stockstracker/service/UserService.java
  client/public/edit_profile.html
  client/public/js/app.js
Labels: client, api, source

Add actions to stocks list
  api/.idea/workspace.xml
  api/src/main/java/fhnw/dreamteam/stockstracker/data/models/Stock.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/seeddata/StocksSeeder.java
  client/public/stocks.html
Labels: client, api, source

Add "Edit" and "Add" view
  api/.idea/workspace.xml
  api/src/main/java/fhnw/dreamteam/stockstracker/StocksTrackerApplication.java
  api/src/main/java/fhnw/dreamteam/stockstracker/controller/StockController.java
  api/src/main/java/fhnw/dreamteam/stockstracker/service/StockService.java
  client/public/js/app.js
  client/public/stocks-add.html
  client/public/stocks-edit.html
Labels: client, api, source

Get Put request working
  api/.idea/workspace.xml
  api/src/main/java/fhnw/dreamteam/stockstracker/controller/UserController.java
  client/public/edit_profile.html
  client/public/js/app.js
Labels: client, api, source

Adds small frontend change
  api/.idea/workspace.xml
  api/src/main/java/fhnw/dreamteam/stockstracker/service/UserService.java
  client/public/edit_profile.html
  client/public/js/app.js
Labels: client, api, source

Show existing currencies in form
  api/.idea/workspace.xml
  api/src/main/java/fhnw/dreamteam/stockstracker/controller/CurrencyController.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/seeddata/CurrencySeeder.java
  client/public/stocks-add.html
  client/public/stocks-edit.html
Labels: client, api, source

Fixes dropdown-menu link for Profile edit
  api/.idea/workspace.xml
  client/public/currencies.html
  client/public/edit_profile.html
  client/public/index.html
  client/public/stocks.html
Labels: client, api, source

Add function to change currency
  api/.idea/workspace.xml
  api/src/main/java/fhnw/dreamteam/stockstracker/service/StockService.java
  client/public/stocks-add.html
  client/public/stocks-edit.html
Labels: client, api, source

Add missing fields and validation
  api/.idea/workspace.xml
  api/src/main/java/fhnw/dreamteam/stockstracker/data/models/Stock.java
  api/src/main/java/fhnw/dreamteam/stockstracker/data/seeddata/StocksSeeder.java
  api/src/main/java/fhnw/dreamteam/stockstracker/service/StockService.java
  client/public/stocks-add.html
  client/public/stocks-edit.html
Labels: client, api, source

Add function to inactivate stocks
  client/public/stocks-edit.html
Labels: client, source

Fix Docker in the API
  api/.dockerignore
  api/.idea/workspace.xml
  api/Dockerfile
  api/src/main/java/fhnw/dreamteam/stockstracker/StocksTrackerApplication.java
  docker-compose.yml
Labels: repo, docker, api, source

Fix CI for API
  .github/workflows/ci-cd.yml
Labels: source

Add forwaring to stocks-view
  client/public/stocks-add.html
  client/public/stocks-edit.html
  client/public/stocks-view.html
Labels: client, source

Show inactive stocks in separate table
  client/public/stocks.html
Labels: client, source

Improve usability
  client/public/stocks-add.html
  client/public/stocks-edit.html
  client/public/stocks.html
  docker-compose.yml
Labels: repo, docker, client, source

Show totals in form
  client/public/stocks-add.html
  client/public/stocks-edit.html
Labels: client, source

Fix wrong date format
  client/public/stocks-add.html
  client/public/stocks-edit.html
Labels: client, source

Fix date builder
  client/public/stocks-add.html
  client/public/stocks-edit.html
Labels: client, source

Improve alerts
  client/public/stocks-add.html
  client/public/stocks-edit.html
Labels: client, source

Update project description
  README.md
Labels: repo, source

Support production env URL
  api/src/main/java/fhnw/dreamteam/stockstracker/StocksTrackerApplication.java
  client/public/js/app.js
Labels: client, api, source

fix which host should be called
  api/.idea/workspace.xml
  client/public/js/app.js
Labels: client, api, source

check for null reference exceptions when encrypting
  api/src/main/java/fhnw/dreamteam/stockstracker/data/models/AttributeEncryptor.java
Labels: api, source

Disable CSRF (Unsolvable 403 Error)
  api/.idea/workspace.xml
  api/src/main/java/fhnw/dreamteam/stockstracker/config/WebSecurityConfig.java
  docker-compose.yml
Labels: repo, docker, api, source

update html for stock detail
  client/public/stocks-view.html
Labels: client, source

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*

# Add 'docker' label to any change to files within the docker dir and docker relevant files
docker:
  - "**/docker/**/*"
  - "**/.dockerignore"
  - docker-compose.build.yml
  - docker-compose.yml
  - "**/Dockerfile"

# Add 'client' label to any change to files within the client dir
client:
  - client/**/*

# Add 'api' label to any change to files within the api dir
api:
  - api/**/*

# Add 'source' label to any change to files within the source dir
source:
  - client/src/**/*
  - "!client/src/**/*.test.js"
  # - api/src/**/*

# Add 'test' label to any change to files within the test dir
test:
  - client/src/**/*.test.js
